@font-face {
    font-family: 'Mabinogi Classic';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/MabinogiClassic/MabinogiClassic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/MabinogiClassic/MabinogiClassic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/MabinogiClassic/MabinogiClassic.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/MabinogiClassic/MabinogiClassic.ttf') format('truetype');
}
